:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark-blue: #2F475E;
    --blue: #003366;
    --blue-default: #006edb;
    --white-blue: #f0f6fc;
    --gray-blue: #2f475e;
    --gray: #5c6f82;
    --light-gray: #aab8c6;
}