.content-wrapper{
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 20px 90px;
    box-sizing: border-box;

    @include breakpoint ('medium'){
        padding: 0 50px;
    }
    
    @include breakpoint ('small'){
        padding: 0 30px;
    }

    .title-component {
        font-size: var(--text-xl);
        font-weight: 400;
        margin: 40px 0;

        &-secondary {
            font-size: var(--text-l);
            font-weight: 400;
            margin: 20px 0;

            @include breakpoint ('medium'){
                font-size: var(--text-l-mobile);
                line-height: 44px;
                margin: 15px 0;
            }            
        }

        @include breakpoint ('medium'){
            font-size: var(--text-xl-mobile);
            line-height: 50px;
            margin: 30px 0;
        }
    }

    .animated-link {
        font-weight: 700;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        color: var(--blue-default);
        width: fit-content;

        &::after {
            content: '';
            display: inline-block;
            background-image: url(/src/assets/link-arrow.svg);
            background-size: contain;
            width: 20px;
            height: 20px;
            margin-left: 15px;
        }

        &:hover {
            text-decoration: none;

            &::after {
                animation: linkSteps 1s ease-in-out infinite;
            }
        }
    }

    .chevron {
                            
        &::after {
            content: '';
            display: block;
            background-image: url(/src/assets/dropdown-arrow.svg);
            background-size: contain;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            left: 20px;
            margin: 20px;
        }
    }

    a {
        text-decoration-line:underline;
        color: var(--blue-default);
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}