$breakpoints: (
    'small': ( max-width: 767px ),
    'medium': ( max-width: 1024px ),
) !default;

@mixin breakpoint($breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
        @content;
    }
}

/*
$values : (
    'md': 767px,
    'lg': 992px
);

@mixin breakpoint-between($firstValue, $secondValue) {
    @media (min-width: inspect(map-get($values, $firstValue))) and (max-width: inspect(map-get($values, $secondValue))) {
        @content;
    }
}


@mixin titleStyle{
    color: var(--white);
    font-size: var(--text-xxl);
    text-decoration: underline;
    line-height: 2px;
}
*/

