:root{
    --text-xs: 14px;
    --text-s: 16px;
    --text-default: 18px;
    --text-m: 24px;
    --text-ml: 28px;
    --text-l-mobile: 36px;
    --text-marker: 38px;
    --text-l: 40px;
    --text-xl-mobile: 46px;
    --text-xl: 56px;
    --text-xxl-mobile: 60px;
    --text-xxl: 80px;

    --font-family: "Titillium Web";
    --font-family-alt: "Roboto";
}