.description-box-component {
    display: flex;
    flex-direction: column;
    background-color: #f0f6fc;
    padding: 30px;
    gap: 30px;

    .item {
        padding:0;
        display: flex;
        align-items: flex-start;
        gap: 20px;

        .textbox {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .title {
                color:#006edb;
                font-size: 24px;
                font-weight: 900;
            }

            .description {
                font-size: 18px;
            }
        }
    }

    .item::before {
        content: "";
        display: block;
        background-image: url(/src/assets/arrow.svg);
        background-size: cover;
        max-width: 40px;
        min-width: 40px;
        height: 40px;
    } 
}

@media (max-width: 992px) {
    .description-box-component {
        padding: 20px;
        gap: 20px;
        
        .item {
            gap: 15px;
        }
        .item::before {
            max-width: 35px;
            min-width: 35px;
        }
    }
}