.description-cards-component {

    .textbox {
        margin-bottom: 50px;

        .title {
            font-size: 40px;
            margin-bottom: 20px;
        }
        .description {
            font-size: 18px;
        }
    }

    .cards-container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;

        .item {
            width: calc(100%/3 - 16px);
            display: flex;

            .text-container {
                padding: 25px;
                border: 1px solid black;

                .card-title {
                    font-size: 40px;
                    color: #006edb;
                    font-weight: 700;
                    text-decoration-thickness: 3px;
                    text-underline-offset: 3px;
                }
                
                .card-description {
                    font-size: 18px;
                    margin: 20px 0;
                }
            }
        }  
    }
}

@media (max-width:992px) {
    .description-cards-component {

        .textbox {
            margin-bottom: 30px;

            .title {
                font-size: 36px;
                line-height: 44px;
            }
        }
    
        .cards-container {
            display:flex;
            width: 100%;
            flex-wrap: wrap;
    
            .item {
                min-width: 300px;

                .text-container {
                    
                    .card-title {
                        font-size: 32px;
                        line-height: 42px;
                    }
                    
                    .card-description {
                        min-width: 200px;
                    }
                }  
            }
        }
    }
}