@import "../utils/mixin";

.description-cards-component {

    .textbox {
        margin-bottom: 50px;

        .description {
            font-size: var(--text-default);
        }
    }

    .cards-container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
        margin-bottom: 40px;

        .item {
            width: calc(100%/3 - 16px);
            display: flex;

            .text-container {
                padding: 25px;
                border: 1px solid var(--black);

                .card-title {
                    font-size: var(--text-l);
                    color: var(--blue-default);
                    font-weight: 700;
                    text-decoration-thickness: 3px;
                    text-underline-offset: 3px;
                }
                
                .card-description {
                    font-size: var(--text-default);
                    margin: 20px 0;
                }
            }
        }  
    }

    @include breakpoint('medium'){
        
        .textbox {
            margin-bottom: 30px;
        }
    
        .cards-container {
            display:flex;
            width: 100%;
            flex-wrap: wrap;
    
            .item {
                min-width: 300px;

                .text-container {
                    .card-title {
                        font-size: var(--text-l-mobile);
                        line-height: 42px;
                    }
                    
                    .card-description {
                        min-width: 200px;
                    }
                }  
            }
        }
    }
}