@import "../utils/mixin";

.header {
    background-color: var(--blue-default);
    padding-top: 30px;
    margin:0;

    .container-first-line {
        display: flex;
        justify-content: space-between;

        .logo {
            .image {
                max-width: 250px;
            }
        }
        
        .search{
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .text {
                color: var(--white);
                font-weight: 700;
                margin: 20px;
            }

            .button {
                width: 50px;
                height: 50px;
                border: none;
                border-radius: 100%;
                cursor: pointer;

                .image{
                    width: 25px;  
                }  
            }  
        }
    }

    .navbar {
        margin-top: 30px;
        display: flex;
        list-style-type:none;
        column-gap: 40px;

        .list-element {
            position: relative;
        }
        
        .text {
            color: var(--white);
            font-size: var(--text-default);
            text-decoration: none;

            &::after {
                bottom: 0;
                content: "";
                display: block;
                height: 1px;
                left: 0;
                position: absolute;
                background: var(--white);
                transition: width .3s ease-in-out;
                width: 0;
            }

            &:hover::after {
                width: 100%;
            }
        }    
    }
    
    @include breakpoint('medium'){

        .container-first-line {

            .logo {

                .image {
                    max-width: 200px;
                    min-width: 130px;
                }
            }

            .search {
                flex-direction: column-reverse;
                align-items: flex-end;

                .text {
                    margin: 10px 0 0 0;
                    text-align: right;
                }

                .button {
                    width: 40px;
                    height: 40px;

                    .image {
                        width: 20px;  
                    } 
                }
            }
        }

        .navbar {
            column-gap: 20px;
            flex-wrap: wrap;
        }
    }
}