@import "../utils/mixin";

.main {
    display: flex;
    flex-direction: column;
    
    a {
        text-decoration-line:underline;
        color: var(--blue-default);
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}