.main {
    display: flex;
    flex-direction: column;
    padding: 90px;
    gap: 90px;
    
    a {
        text-decoration-line:underline;
        color: #006edb;
        text-decoration: underline;
    }

    a:hover {
        text-decoration: none;
    }  
}

@media (max-width: 992px) {
    .main {
        padding: 30px;
        gap: 30px;
    }
}