@import "../utils/mixin";

.ordered-list-component {

    .textbox {

        .text {
            font-size: var(--text-default);
        }
    }

    .list {
        
        li::marker { 
            color: var(--blue);
            font-size: var(--text-marker);
            font-family: var(--font-family);
            font-weight: 900;
        }

        .list-item {
            
            .list-title {
                font-size: var(--text-m);
                font-weight: 700;
                margin: 30px 0;
            }

            .list-description {
                font-size: var(--text-default);
            }
        }
    }
    
    @include breakpoint('medium'){
        .list {
            .list-item {
                .list-title {
                    margin: 20px 0;
                }
            }
        }
    }
}