@import "../utils/mixin";

.radio-component {
    background-color: var(--white-blue);

    .container {
        position: relative;
        background-color: var(--white-blue);

        input {
            display: none;
        }

        #definisce:checked ~ .labels .label[for='definisce'], #promuove:checked ~ .labels .label[for='promuove'], #monitora:checked ~ .labels .label[for='monitora'] {
            @extend .label-selected;
        }

        #definisce:checked ~ .content #tab-1, #promuove:checked ~ .content #tab-2, #monitora:checked ~ .content #tab-3 {
            @extend .content-visible
        }

        .items-container {
            width: 100%;

            .labels {
                display: flex;
                justify-content: space-between;
                
                .label {
                    color: var(--blue-default);
                    border-bottom: 1.5px solid var(--light-gray);
                    width: calc(100% / 3);
                    text-align: center;
                    font-size: var(--text-m);
                    cursor: pointer;
                    padding: 10px;
                }
            }

            .content {

                .item {
                    display: none;
                    margin: 20px 0;
                    padding: 0 110px;

                    .description {
                        font-size: var(--text-default);
                        margin: 50px 0 20px 0;
                    }

                    .textbox {
                        padding: 0;
                        display: flex;
                        align-items: flex-start;
                        gap: 20px;
                        margin: 40px 0 0 120px;

                        .text {
                            width: 100%;
                            border-bottom: 1px solid var(--black);

                            .title {
                                color: var(--blue-default);
                                font-size: var(--text-m);
                                font-weight: 900;
                            }

                            .description {
                                font-size: var(--text-default);
                                margin: 20px 0 40px 0;
                            }
                        }

                        &:last-child {

                            .text {
                                border: none;

                                .description {
                                    margin-bottom: 0;
                                }
                            }
                        }

                        &::before {
                            content: "";
                            display: block;
                            background-image: url(/src/assets/arrow.svg);
                            background-size: cover;
                            max-width: 40px;
                            min-width: 40px;
                            height: 40px;
                        }
                    }

                    .cards-container {
                        display: flex;
                        width: 100%;
                        flex-wrap: wrap;
                        gap: 24px;

                        .card {
                            max-width: 400px;
                            min-width: 400px;
                            display: flex;

                            .text-container {
                                width: 100%;
                                padding: 35px 25px;
                                background-color: var(--white);
                                color: var(--dark-blue);

                                .card-title {
                                    font-size: var(--text-l-mobile);
                                    margin-bottom: 30px;
                                }

                                .card-num {
                                    font-size: var(--text-xxl);
                                    line-height: 1;
                                }

                                .card-unit {
                                    font-size: var(--text-l);
                                }

                                .card-description {
                                    font-size: var(--text-default);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include breakpoint('medium') {

        .container {

            .items-container {

                .labels{
                    flex-direction: column;

                    .label {
                        width: 100%;
                        font-size: var(--text-default);
                        line-height: 20px;
                    }
                }

                .content {

                    .item {
                        padding: 0;

                        .description {
                            margin: 40px 0 20px 0;
                        }

                        .textbox {
                            margin: 30px 0 0 0;
                        }

                        .cards-container {
                            display: flex;
                            width: 100%;
                            flex-wrap: wrap;

                            .card {
                                min-width: 100%;
                                max-width: 100%;

                                .text-container {
                                    padding: 25px;

                                    .card-title {
                                        margin-bottom: 20px;
                                    }

                                    .card-num {
                                        font-size: var(--text-xl);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}