@import "../../utils/Incentivi_utils/mixin";

.description-banner {
    padding: 70px 0;

    .content-wrapper {

        .item {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .textbox {
                max-width: 480px;

                .title {
                    @extend .title-style;
                    color: var(--grey);
                    font-weight: 800;
                    line-height: 28px;
                }

                .list-wrapper {
                    margin: 50px 0 54px;

                    .list {
                        list-style-type: none;
                        padding: 0;

                        .list-item {
                            color: var(--grey);
                            font-size: var(--text-22);
                            font-weight: 400;
                            line-height: 36px;
                            letter-spacing: .5px;
                            margin-bottom: 14px;
                            display: flex;
                            align-items: center;
                            
                            &:last-child {
                                margin-bottom: 0;
                            }

                            &::before {
                                content: '';
                                display: block;
                                background-image: url(/src/assets/Incentivi_assets/check.svg);
                                background-size: contain;
                                background-repeat: no-repeat;
                                min-width: 30px;
                                max-width: 30px;
                                height: 18.92px;
                                margin-right: 20px;
                            }
                        }
                    }
                }

                .button-container{
                    .link-item {
                        @extend .button;
                        @extend .button-red-blue;
                    }
                }
            }

            // SISTEMARE POSIZIONAMENTO
            .img-container {
                min-width: 50%;
                max-width: 50%;
                max-height: 686px;
                height: fit-content;
                display: flex;
                position: relative;
                align-items: flex-end;
                justify-content: start;
                
                .bg-container {
                    width: 195px;
                    height: calc(100% - 60px);
                    background-color: var(--yellow);
                    border-radius: 8px;
                    position: absolute;
                    z-index: 1;
                    right: 0;
                    bottom: -20px;
                }

                .image {
                    min-width: calc(100% - 20px);
                    max-width: calc(100% - 20px);
                    height: fit-content;
                    max-height: 337px;
                    object-fit: contain;
                    position: relative;
                    z-index: 2;
                    left: 0;
                    top: 0;
                }

                .shape-container {
                    width: 50%;
                    height: 80%;
                    max-width: 216px;
                    max-height: 216px;
                    border: 1px solid var(--x-light-grey);
                    border-radius: 100%;
                    position: absolute;
                    z-index: 1;
                    left: -12%;
                    bottom: -32%;
                }
            }
        }

        .simple-text {
                
            .description {
                margin: 160px 100px 10px;
                font-size: 30px;
                font-weight: 400;
                line-height: 45px;
                letter-spacing: .5px;
                text-align: center;
            }
        }
    }

    @include breakpoint('mobile') {
        padding: 40px 0;

    }
}