@import "../../utils/Incentivi_utils/mixin";

.description-cards {
    background-color: var(--yellow);
    padding: 70px 0;
    text-align: center;
    
    .content-wrapper {

        .textbox {

            .title {
                @extend .title-style;
                color: var(--blue);
            }

            .subtitle {
                @extend .text-style;
                color: var(--blue); 
                padding: 0 305px;
                margin: 20px auto;
                
            }
        }

        .cards-container {
            display: flex;
            gap: 28px;
            width: 100%;
            margin: 40px 0 60px;
            flex-wrap: wrap;

            .card-wrapper {
                width: calc(100% / 3 - 18.66px);
                min-height: fit-content;
                display: flex;
                position: relative;
                transform: rotate(0);
                transition: .3s ease-in-out;

                .card {
                    background-color: var(--white);
                    border-radius: 10px;
                    padding: 30px;
                    position: relative;
                    z-index: 1;

                    .card-title {
                        font-size: var(--text-22);
                        font-weight: 600;
                        line-height: 33px;
                        letter-spacing: -.3px;
                        color: var(--grey);
                        margin: 10px 0 20px;
                    }

                    .card-description {
                        font-size: var(--text-16);
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: .5px;
                        color: var(--grey);
                    }
                }

                .card-icon {
                    width: 18.75px;
                    height: 32.36px;
                    position: absolute;
                    z-index: 2;
                    left: 19px;
                    top: 0;
                }

                &:hover {
                    transform: rotate(5deg);
                    transition: .3s ease-in-out;

                    .card {
                        .card-title {
                            transform: rotateY(0);
                        }
                    }

                }
            }
        }

        .button {
            @extend .button-blue;
        }
    }

    @include breakpoint('mobile') {
        padding: 35px 0;
        
        .content-wrapper {

            .cards-container {
                gap: 25px;
                margin: 40px 0 30px;

                .card-wrapper {
                    width: 100%;
                    
                    .card {
                        border-radius: 4px;
                        padding: 40px 25px;

                        .card-title {
                            margin: 3px 0 10px;
                        }
                    }
                }
            }
        }
    }
}