@import "../../utils/Incentivi_utils/mixin";

.description-banner {
    padding: 70px 0;

    .content-wrapper {

        .item {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .textbox {
                max-width: 480px;

                .title {
                    @extend .title-style;
                    color: var(--grey);
                    font-weight: 800;
                    line-height: 28px;
                }

                .list-wrapper {
                    margin: 50px 0 54px;

                    .list {
                        list-style-type: none;
                        padding: 0;

                        .list-item {
                            color: var(--grey);
                            font-size: var(--text-22);
                            font-weight: 400;
                            line-height: 36px;
                            letter-spacing: .5px;
                            margin-bottom: 14px;
                            display: flex;
                            align-items: center;
                            
                            &:last-child {
                                margin-bottom: 0;
                            }

                            &::before {
                                content: '';
                                display: block;
                                background-image: url(/src/assets/Incentivi_assets/check.svg);
                                background-size: contain;
                                background-repeat: no-repeat;
                                min-width: 30px;
                                max-width: 30px;
                                height: 19px;
                                margin-right: 20px;
                            }
                        }
                    }
                }

                .button-container{
                    .link-item {
                        @extend .button;
                        @extend .button-red-blue;
                    }
                }
            }

            .img-container {
                max-width: 50%;
                width: 50%;
                height: 372px;
                display: flex;
                position: relative;
                align-items: flex-end;
                justify-content: start;
                
                .bg-container {
                    width: 195px;
                    height: calc(100% - 60px);
                    background-color: var(--yellow);
                    border-radius: 8px;
                    position: absolute;
                    z-index: 1;
                    right: 0;
                    bottom: -20px;
                }

                .image {
                    min-width: calc(100% - 20px);
                    max-width: calc(100% - 20px);
                    height: fit-content;
                    max-height: 372px;
                    border-radius: 8px;
                    object-fit: cover;
                    position: relative;
                    z-index: 2;
                    left: 0;
                    top: 0;
                }

                &::before {
                    content: "";
                    width: 216px;
                    height: 216px;
                    background-image: url("../../../assets/Incentivi_assets/circle.png") ;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    position: absolute;
                    bottom: -96px;
                    left: -100px;
                    z-index: -1;
                }
            }

            .title-mobile {
                display: none;
                @extend .title-style;
                color: var(--grey);
                font-weight: 800;
                line-height: 28px;
            }
        }

        .simple-text {
                
            .description {
                color: var(--grey);
                margin: 160px 100px 10px;
                font-size: 30px;
                font-weight: 400;
                line-height: 45px;
                letter-spacing: .5px;
                text-align: center;
            }
        }
    }

    @include breakpoint('mobile') {
        padding: 40px 0;

        .content-wrapper {

            .item {
                flex-wrap: wrap-reverse;
                justify-content: center;
        
                .textbox {
                    text-align: center;

                    .title {
                        display: none;
                    }
    
                    .list-wrapper {
                        margin: 38px 0 30px;
    
                        .list {
    
                            .list-item {
                                font-size: var(--text-20);
                                margin-bottom: 8px;
    
                                &::before {
                                    min-width: 22px;
                                    max-width: 22px;
                                    height: 15px;
                                    margin-right: 12px;
                                }
                            }
                        }
                    }

                    .button-container{
                        .link-item {
                            width: 70%;
                        }
                    }
                }
    
                .img-container {
                    max-width: 100%;
                    width: 100%;
                    height: auto;
                    margin: 25px 0;
                    
                    .bg-container {
                        width: calc(100% - 60%);
                        height: calc(100% - 20%);
                    }
    
                    .image {
                        object-fit: cover;
                        border-radius: 8px;
                    }
    
                    &::before {
                        content: none;
                    }
                }
    
                .title-mobile {
                    display: block;
                    font-weight: 800;
                    line-height: 36px;
                }
            }
    
            .simple-text {
                    
                .description {
                    margin: 40px 0 0;
                    font-size: 20px;
                    line-height: 30px;
                }
            }
        }
    }
}