.footer {
    background-color: var(--blue);
    padding: 50px 0;

    .content-wrapper {

        .top-wrapper {
            margin-bottom: 32px;
            border-bottom: 1px solid var(--light-grey);

            .logos-wrapper {
                display: flex;
                gap: 50px;
                margin-bottom: 36px;
                flex-wrap: wrap;

                .img-link {

                    .logo {
                        max-height: 40px;
                        max-width: 205px;
                    }
                }
            }
        }
        .bottom-wrapper {

            .documents {
                list-style-type: none;
                display: flex;
                gap: 37px;
                padding: 0;

                .doc {
                    color: var(--white);
                    font-size: var(--text-15);
                    font-weight: 600;
                    line-height: 18px;
                }
            }
        }
    }

    @include breakpoint('mobile') {
        padding: 35px 0;

        .content-wrapper {

            .top-wrapper {

                .logos-wrapper {
                    column-gap: 24px;
                    row-gap: 26px;

                    .img-link {
                        min-width: 128px;

                        .logo {
                            max-height: 35px;
                            max-width: 179px;
                        }
                    }
                }
            }

            .bottom-wrapper {

                .documents {
                    margin: 0;
                    justify-content: space-between;
                }
            }
        }
    }
}