@import "../../utils/Incentivi_utils/mixin";

.hero-banner {
    background-color: var(--yellow);

    .content-wrapper {

        .container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            
            .textbox {
                max-width: 571px;
                width: 100%;

                .title {
                    font-size: var(--text-main-title);
                    font-weight: 600;
                    line-height: 60px;
                    letter-spacing: .5px;
                    color: var(--blue);
                    margin: 78px 0 0;
                }

                .description {
                    font-size: var(--text-18);
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: .5px;
                    color: var(--blue);
                    margin: 20px 0 30px;
                }

                .button {
                    @extend .button-red;
                }

                .icons {
                    margin-top: 59px;

                    .icon {
                        max-width: 24px;
                        max-height: 24px;
                        margin-bottom: 60px;
                    }
                }
            }

            // DA SISTEMARE POSIZIONAMENTO ITEMS
            .img-container {
                min-width: 385px;
                height: 440px;
                display: flex;
                position: relative;
                margin: 30px 0 0 30px;

                .bg-container {
                    
                    width: 371px;
                    height: 371px;
                    background: linear-gradient(var(--red), var(--yellow));
                    border-radius: 100%;
                    position: absolute;
                    z-index: 1;
                    align-self: center;
                    // margin-top: 60px;
                }

                .image {
                    position: absolute;
                    z-index: 2;
                    max-height: 440px;
                    max-width: 385px;
                }

                .icon {
                    width: 85px;
                    height: 90px;
                    position: relative;
                    z-index: 2;
                    top: 66.44px;
                    left: -14px;
                }
            }
        }
    }
}