@import "../../utils/Incentivi_utils/mixin";

.hero-banner {
    background-color: var(--yellow);
    padding-top: 30px;

    .content-wrapper {

        .container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            
            .textbox {
                max-width: 571px;
                width: 100%;
                margin: 0 30px 60px 0;

                .title {
                    font-size: var(--text-main-title);
                    font-weight: 600;
                    line-height: 60px;
                    letter-spacing: .5px;
                    color: var(--blue);
                    margin: 78px 0 0;
                }

                .description {
                    font-size: var(--text-18);
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: .5px;
                    color: var(--blue);
                    margin: 20px 0 30px;
                }

                .link-item {
                    @extend .button;
                    @extend .button-red;
                    text-decoration: none;
                }

                .icons {
                    margin-top: 59px;

                    .icon {
                        max-width: 24px;
                        max-height: 24px;
                    }
                }
            }

            .img-container {
                max-width: 385px;
                min-width: 385px;
                max-height: 440px;
                display: flex;
                position: relative;

                .bg-container {
                    width: 100%;
                    height: 371px;
                    background: linear-gradient(var(--red), var(--yellow));
                    border-radius: 100%;
                    position: absolute;
                    z-index: 1;
                    align-self: center;
                }

                .image {
                    position: absolute;
                    z-index: 2;
                    height: 440px;
                    width: 385px;
                    object-fit: contain;
                }

                .icon {
                    width: 85px;
                    height: 90px;
                    position: relative;
                    z-index: 2;
                    top: 66.44px;
                    left: -14px;                    
                    background-image: url("data:image/svg+xml,%3Csvg width='85' height='91' viewBox='0 0 85 91' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M64.8089 42.9874C64.8089 30.6757 54.7623 20.6293 42.4507 20.6293C30.1392 20.6293 20.0926 30.6758 20.0926 42.9874C20.0926 44.76 20.2898 46.5332 20.7824 48.3057C21.3732 51.1617 22.4567 52.935 23.9345 55.3973C24.23 55.9882 24.6243 56.579 25.018 57.2689C25.5106 58.0569 25.9043 58.8449 26.3969 59.5341C28.3666 62.7844 29.5491 64.6559 29.5491 68.4972V77.7558C29.5491 80.1198 31.2234 81.9907 33.4885 82.385C34.4737 87.408 37.4279 90.56 42.4516 90.56C47.4746 90.56 50.5284 87.4079 51.4147 82.385C53.6799 81.9913 55.3541 80.021 55.3541 77.7558V68.4972C55.3541 64.6559 56.5358 62.6862 58.5063 59.5341C58.9 58.8443 59.3926 58.0569 59.8852 57.2689C60.2788 56.5791 60.6732 55.9882 60.9686 55.3973C62.4458 52.935 63.5293 51.1624 64.1208 48.3057C64.612 46.5332 64.8089 44.76 64.8089 42.9874ZM51.5118 70.8612H33.5859V68.596C33.5859 68.1034 33.5859 67.7097 33.4877 67.3154H51.5121C51.5121 67.7091 51.4138 68.1034 51.4138 68.596V70.8612H51.5118ZM50.6255 78.6419H34.2754C33.7827 78.6419 33.4873 78.2482 33.4873 77.8539V74.8007H51.4132V77.8539C51.5115 78.2482 51.1181 78.6419 50.6255 78.6419ZM42.4505 86.7181C41.3671 86.7181 38.6093 86.7181 37.5258 82.5813H47.4735C46.3901 86.7181 43.5341 86.7181 42.4505 86.7181ZM60.2779 47.5174C59.7853 49.6843 58.9973 51.1615 57.6184 53.4274C57.2248 54.0183 56.9286 54.6091 56.535 55.299C56.0423 56.087 55.6487 56.8751 55.2543 57.4659C54.0726 59.4356 52.9891 61.2088 52.2993 63.2768H32.7975C32.1077 61.2081 31.1232 59.4356 29.8425 57.4659C29.4489 56.7761 28.9562 56.087 28.5619 55.299C28.1682 54.6092 27.7739 53.9201 27.4784 53.4274C26.0995 51.0634 25.3116 49.6845 24.8189 47.4193C24.4252 45.9422 24.2281 44.4643 24.2281 42.9872C24.2281 32.8424 32.5014 24.5689 42.6464 24.5689C52.7913 24.5689 61.0648 32.8422 61.0648 42.9872C60.869 44.4644 60.6723 45.9414 60.2779 47.5174Z' fill='%230B2C6E'/%3E%3Cpath d='M60.2779 47.5174C59.7853 49.6843 58.9973 51.1615 57.6184 53.4274C57.2248 54.0183 56.9286 54.6091 56.535 55.299C56.0423 56.087 55.6487 56.8751 55.2543 57.4659C54.0726 59.4356 52.9891 61.2088 52.2993 63.2768H32.7975C32.1077 61.2081 31.1232 59.4356 29.8425 57.4659C29.4489 56.7761 28.9562 56.087 28.5619 55.299C28.1682 54.6092 27.7739 53.9201 27.4784 53.4274C26.0995 51.0634 25.3116 49.6845 24.8189 47.4193C24.4252 45.9422 24.2281 44.4643 24.2281 42.9872C24.2281 32.8424 32.5014 24.5689 42.6464 24.5689C52.7913 24.5689 61.0648 32.8422 61.0648 42.9872C60.869 44.4644 60.6723 45.9414 60.2779 47.5174Z' fill='white'/%3E%3Cpath d='M83.0303 41.0176H74.8553C73.7718 41.0176 72.8856 41.9039 72.8856 42.9873C72.8856 44.0707 73.7719 44.957 74.8553 44.957H83.0303C84.1138 44.957 85 44.0707 85 42.9873C85.0007 41.9045 84.1137 41.0176 83.0303 41.0176Z' fill='%230B2C6E'/%3E%3Cpath d='M65.3014 22.1067C65.794 22.1067 66.2866 21.9095 66.6803 21.5158L72.4912 15.7049C73.2793 14.9168 73.2793 13.7351 72.4912 12.947C71.7032 12.1589 70.5215 12.159 69.7334 12.947L63.9224 18.758C63.1344 19.546 63.1344 20.7277 63.9224 21.5158C64.3161 21.9102 64.8087 22.1067 65.3013 22.1067H65.3014Z' fill='%230B2C6E'/%3E%3Cpath d='M42.4508 12.5524C43.5343 12.5524 44.4205 11.6661 44.4205 10.5827V2.40769C44.4205 1.32422 43.5343 0.437988 42.4508 0.437988C41.3674 0.437988 40.4811 1.32428 40.4811 2.40769V10.5827C40.4811 11.6662 41.3674 12.5524 42.4508 12.5524Z' fill='%230B2C6E'/%3E%3Cpath d='M18.2212 21.5157C18.6149 21.9094 19.1075 22.1065 19.6001 22.1065C20.0927 22.1065 20.5853 21.9094 20.979 21.5157C21.767 20.7276 21.767 19.546 20.979 18.7578L15.168 12.9469C14.38 12.1588 13.1983 12.1588 12.4102 12.9469C11.622 13.7349 11.6221 14.9166 12.4102 15.7047L18.2212 21.5157Z' fill='%230B2C6E'/%3E%3Cpath d='M10.1447 41.0176H1.9697C0.886235 41.0176 0 41.9039 0 42.9873C0 44.0707 0.886287 44.957 1.9697 44.957H10.1447C11.2282 44.957 12.1144 44.0707 12.1144 42.9873C12.1144 41.9045 11.2281 41.0176 10.1447 41.0176Z' fill='%230B2C6E'/%3E%3Cpath d='M18.2212 64.4591L12.4103 70.27C11.6222 71.0581 11.6222 72.2397 12.4103 73.0279C12.8039 73.4216 13.2965 73.6187 13.7891 73.6187C14.2817 73.6187 14.7744 73.4216 15.168 73.0279L20.979 67.2169C21.767 66.4289 21.767 65.2472 20.979 64.4591C20.1916 63.671 18.911 63.671 18.2212 64.4591H18.2212Z' fill='%230B2C6E'/%3E%3Cpath d='M66.6803 64.4591C65.8922 63.671 64.7106 63.671 63.9225 64.4591C63.1343 65.2471 63.1344 66.4288 63.9225 67.2169L69.7334 73.0279C70.1271 73.4216 70.6197 73.6187 71.1123 73.6187C71.6049 73.6187 72.0975 73.4216 72.4912 73.0279C73.2792 72.2398 73.2792 71.0582 72.4912 70.27L66.6803 64.4591Z' fill='%230B2C6E'/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
    }

    @include breakpoint ('mobile') {

        .content-wrapper {

            .container {
                flex-direction: column-reverse;
                align-items: center;

                .textbox {
                    text-align: center;
                    margin: 0 0 27px 0;

                    .title {
                        font-size: var(--text-30);
                        font-weight: 700;
                        line-height: 36px;
                        letter-spacing: .31px;
                        margin: 22.5px 0 12px 0;
                    }

                    .description {
                        margin-top: 0;
                    }

                    .button {
                        margin-bottom: 7px;
                    }

                    .icons {
                        display: none;
                    }
                }
                
                .img-container {
                    max-width: 275px;
                    min-width: 275px;
                    height: 325px;

                    .bg-container {
                        width: 275px;
                        height: 275px;
                    
                    }

                    .image {
                        width: 245px;
                        height: 325px;
                    }
                    
                    .icon {
                        width: 63px;
                        height: 66px;
                    }
                }  
            }
        }
    }
}