@import "../../utils/Incentivi_utils/mixin";

.intro-banner {
    padding-top: 70px;
    
    .content-wrapper {

        .textbox {
            text-align: center;

            .title {
                @extend .title-style;
                color: var(--grey);
            }

            .subtitle {
                @extend .text-style;
                color: var(--grey);
            }
        }
        
        .items-container {
            display: flex;
            justify-content: space-around;
            margin: 85px 0 100px 0;
            width: 100%;
            gap: 16px;
            align-items: flex-start;
            flex-wrap: wrap;

            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: calc(100% / 4 - 20px);
                justify-content: flex-end;
                cursor: pointer;
                transform: scale(1);
                transition: .5s ease-in-out;

                .img-container{
                    max-height: 100px;
                    min-height: 100px;
                    height: 100%;
                    display: flex;
                    align-items: flex-end;

                    .image {
                        max-height: 100px;
                    }
                }

                .text {
                    font-size: var(--text-18);
                    font-weight: 600;
                    line-height: 27px;
                    color: var(--blue);
                    text-decoration: underline;
                    margin-top: 40px;
                    text-align: center;
                    padding: 0 30px;
                }

                &:hover {
                    transform: scale(1.1);
                    transition: .2s ease-in-out;

                    .text {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    @include breakpoint ('mobile') {
        padding-top: 35px;

        .content-wrapper {

            .textbox {

                .title {
                    padding: 0 5px;
                }

                .subtitle {
                    font-size: var(--text-18);
                    line-height: 26px;
                }
            }

            .items-container {
                margin: 76px 0 54px 0;
                column-gap: 16px;
                row-gap: 58px;
    
                .item {
                    width: calc(100% / 2 - 16px);
    
                    .text {
                        font-size: var(--text-16);
                        line-height: 24px;
                        margin-top: 28px;
                        padding: 0;
                    }
                }
            }
        }
    }
}