@import "../../utils/Incentivi_utils/mixin";

.simple-text-box {
    padding: 70px 0;

    .content-wrapper {

        .wrapper {

            .logo-wrapper {
                margin-bottom: 73px;

                .img-link {
                    display: flex;

                    .logo {
                        min-height: 100px;
                        min-width: 340px;
                        max-height: 100px;
                        max-width: 340px;
                    }
                }
            }

            .text-wrapper {

                .description {
                    @extend .text-style;
                    column-count: 2;
                    column-gap: 28px;

                    .text-link {
                        color: var(--blue);
                        font-weight: 700;
                    }
                }
            }
        }
    }

    @include breakpoint('mobile') {
        padding: 35px 0;

        .content-wrapper {

            .wrapper {
    
                .logo-wrapper {
                    margin-bottom: 35px;
    
                    .img-link {
    
                        .logo {
                            min-height: 76px;
                            min-width: 256px;
                            max-height: 76px;
                            max-width: 259px;
                        }
                    }
                }
    
                .text-wrapper {
    
                    .description {
                        column-count: 1;
                    }
                }
            }
        }
    }
}