@import "../../utils/Incentivi_utils/mixin";

.text-image-box {
    padding: 70px 0;

    .content-wrapper {

        .item {
            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 20px;
            align-items: center;

            .textbox {
                max-width: 580px;

                .subtitle {
                    color: var(--grey);
                    font-size: var(--text-16);
                    font-weight: 600;
                    line-height: 33.6px;
                    letter-spacing: 1px;
                }

                .title {
                    @extend .title-style;
                    color: var(--grey);
                }

                .description {
                    @extend .text-style;
                    color: var(--grey); 
                    margin-bottom: 25px;
                }

                .button-container{
                    .link-item {
                        @extend .button;
                        @extend .button-red-blue;
                    }
                }
            }

            .img-container {
                min-width: 42%;
                max-width: 42%;
                max-height: 337px;
                height: fit-content;
                display: flex;
                position: relative;
                align-items: flex-end;
                
                .bg-container {
                    width: 195px;
                    height: calc(100% - 60px);
                    background-color: var(--yellow);
                    border-radius: 8px;
                    position: absolute;
                    z-index: 1;
                    right: 0;
                    bottom: -20px;
                }

                .image {
                    min-width: calc(100% - 20px);
                    max-width: calc(100% - 20px);
                    height: fit-content;
                    max-height: 337px;
                    object-fit: contain;
                    position: relative;
                    z-index: 2;
                    left: 0;
                    top: 0;
                }
            }
        }

        .controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 60px;

            .slide-icon {
                display: flex;
                gap: 17.5px;

                .icon {
                    width: 15px;
                    height: 15px;
                }
            }

            .swipe-arrow {
                display: flex;
                gap: 30px;

                .swipe {
                    width: fit-content;
                    height: fit-content;
                    display: flex;
                    align-items: center;
                    padding: 0;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;

                    .arrow {
                        object-fit: contain;
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }

    @include breakpoint('mobile') {
        padding: 45px 0 35px;

        .content-wrapper {

            .item {
                justify-content: center;
                flex-wrap: wrap-reverse;
                width: 100%;
                border-radius: 8px;
                box-shadow: 0 0 38px 0 rgba(0, 0, 0, .1);
                padding: 20px 10px;
                box-sizing: border-box;

                .textbox {
                    max-width: 100%;
                    width: 100%;
                    text-align: left;

                    .subtitle {
                        font-size: var(--text-14);
                        line-height: 20px;
                        margin: 10px 0 5px;
                    }

                    .title {
                        font-size: var(--text-26);
                        font-weight: 600;
                    }

                    .description {
                        margin: 16px 0 30px;
                    }

                    .button-container {
                        margin-top: 30px;
                        display: flex;
                        width: 100%;
                        justify-content: center;
                    }
                }

                .button-mobile {
                    display: block;
                }

                .img-container {
                    max-width: 100%;
                    width: fit-content;
                    max-height: 205px;
                    margin: 0;

                    .bg-container {
                        width: 113.34px;
                        height: 139.56px;
                        bottom: -12px;
                    }

                    .image {
                        max-height: 205px;
                        margin: 0 auto;
                    }
                }
            }

            .controls {
                margin-top: 20px;
                position: relative;

                .slide-icon {
                    justify-content: center;
                    width: 100%;
                    position: absolute;
                    gap: 11px;

                    .icon {
                        width: 9.75px;
                        height: 9.75px;
                    }
                }

                .swipe-arrow {
                    width: 100%;
                    position: relative;
                    justify-content: space-between;
                }
            }
        }
    }
}