:root {
    --yellow: #ffc46c;
    --red: #e70c53;
    --blue: #0b2c6e;
    --white: #ffffff;
    --grey: #33485c;
    --grey-strong: #737373;
    --light-grey: #979797;
    --x-light-grey: #d8d8d8;
    --black: #000000;
}