@import "./mixin";

.content-wrapper {
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 0 128px;
    box-sizing: border-box;

    @include breakpoint-between('md', 'lg'){
        padding: 0 40px;
    }

    @include breakpoint('mobile') {
        padding: 0 22px;
    }
}

.visuallyhidden {
    display: none;
}

a:hover {
    text-decoration: none;
}