$breakpoints: (
    'mobile': ( max-width: 767px ),
    'medium': ( max-width: 1024px ),
) !default;

@mixin breakpoint($breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
        @content;
    }
}

$values : (
    'md': 767px,
    'lg': 1270px
);

@mixin breakpoint-between($firstValue, $secondValue) {
    @media (min-width: inspect(map-get($values, $firstValue))) and (max-width: inspect(map-get($values, $secondValue))) {
        @content;
    }
}

.button{
    font-size: var(--text-14);
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
    border: none;
    border-radius: 50px;
    padding: 8px 25px;
    cursor: pointer;

    &:hover{
        transition: .3s ease-in-out;
    }
}

.button-red {
    color: var(--white);
    background-color: var(--red);

    &:hover {
        color: var(--red);
        background-color: var(--white);
    }
}

.button-blue {
    color: var(--white);
    background-color: var(--blue);

    &:hover {
        color: var(--blue);
        background-color: var(--white);
    }
}

.button-red-blue {
    color: var(--white);
    background-color: var(--red);

    &:hover {
        background-color: var(--blue);
    }
}

.title-style {
    font-size: var(--text-title);
    font-weight: 700;
    line-height: 48px;
    letter-spacing: .5px;
    margin: 0;
}

.text-style {
    font-size: var(--text-20);
    font-weight: 400;
    line-height: 28px;
    letter-spacing: .5px;
    margin: 20px 0;
}