:root {
    --font-family: "Urbanist";

    --content-width: 1440px;
    --content-width-m: 1270px;
    --content-width-mobile: 375px;

    --text-14: 14px;
    --text-15: 15px;
    --text-16: 16px;
    --text-18: 18px;
    --text-20: 20px;
    --text-22: 22px;
    --text-24: 24px;
    --text-26: 26px;
    --text-28: 28px;
    --text-30: 30px;
    --text-title: 40px;
    --text-main-title: 46px;
    --text-50: 50px;
}